* {
  margin: 0;
  padding: 0;
  color: #fdfdfc;
}
ul {
  list-style: none;
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}
p {
  font-size: 1.5rem;
}
.footerClass {
  list-style: none;
  text-decoration: none;
  background-color: #7e24e2;
}
.text {
  font-size: 1.5rem;
}
.textColor {
  color: #d18ad0 !important;
  text-decoration: none;
}
.bg {
  min-height: 100vh;
  background-color: #493396;
}
.bg1 {
  min-height: 100vh;
  background-color: #7e24e2;
}
.trianglify {
  background-image: './images/trianglify.png';
}
.bgColor {
  background-color: #493396 !important;
}
.bgColor1 {
  background-color: #7e24e2 !important;
}
.titleBlock {
  height: 30vh;
  object-fit: cover !important;
}
.center {
  display: block;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin: auto auto;
}
.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.homeDiv {
  display: block;
  margin: auto auto !important;
  justify-content: center !important;
  padding-top: 20vh;
}

.title {
  padding-top: 10vh;
  font-size: 72px;
}
.title1 {
  font-size: 3rem;
}
.active {
  /* background-color: #7e24e2 !important; */
  color: #d18ad0 !important;
  list-style: none;
  text-decoration: none;
}
/* Contact */
.Form {
  background-color: #7e24e2;
  border-radius: 25px;
  padding: 100px 100px 100px 100px;
}
/* Ptoject */
.ProjectCol {
  max-height: 200vh;
  max-width: 50vh;
  display: flex;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
